/******************************************************************************** style file ***************************************************************************************/

body {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

/*************** ********** NAVBAR ********** ***************/

.navbar a {
  color: black;
}
.navbar a:hover {
	text-decoration: none;
	color: #6981f5;
}
.fab {
  font-size: 30px;
  padding-left: 5px;
	padding-right: 20px;
	color: rgb(233, 79, 105);
}
.navbar-nav {
	color: black;
}
.navbar-light .navbar-nav .nav-link {
	color: black;
}
.navbar-light .navbar-nav .nav-link:hover {
	color: #6981f5;
}

/********** **********/
#search-icon {
  font-weight: 100;
}

/********** horizontal line **********/
hr {
  margin: 1px 0px;
}


/********************************* MAIN CONTENT ******************************/

/********** featured **********/
.main-container-fluid {
  margin-left: auto;
	margin-right: auto;
	padding-top: 80px;
  max-width: 1300px;
}

.wrapper {
	max-width: 1270px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.featured-content {
  margin-left: 0rem;
  margin-right: 0rem;
	width: 100%;
}
.featured-image {
  margin: 0;
}

#feat-img {
	width: 100%;
  border-radius: 5px;
  transform: scale(1);
	margin-left: 0px;
}

.featured-blurb {
	margin-left: 0rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h2 {
  font-size: 1.80rem;
  font-weight: 900;
  line-height: 1.5;
}

.featured-words {
  font-size: 1.15rem;
  font-weight: 400;
  text-align: left;
  padding: 10px 5px 10px 0px;
	line-height: 1.5;
}
.featured-title a {
  color: black;
}

.article-date {
  font-size: 14px;
  font-weight: bold;
  line-height: 2;
}
a.article-tag-links {
	color: #6981f5;
}
a.article-tag-links:hover {
	text-decoration: none;
	color: darkcyan;
}

.below-main-hr {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/********************************** hero content ******************************/
.hero-title {
	padding-bottom: 50px;
	font-size: 40px;
	font-weight: bold;
}
.hero-columns {
	width: 50%;
}
.hero .article-group {
	padding-bottom: 10px;
}
.hero img {
	width: 100%;
	border-radius: 5px;
}
.hero-subtitle {
	line-height: 1.5;
}
.hero-subtitle h3 {
	font-weight: bold;
	font-size: 25px;
	padding: 5px 0px;
	text-transform: capitalize;
}
.hero-subtitle h3 a {
	color: black;
}
.hero-subitle p {
	line-height: 1;
}
/********** horizontal line **********/
.below-hero-hr {
  margin-top: 5rem;
  margin-bottom: 5rem;
	text-align: center;
}


/**************************** sub hero / row three ***************************/
.sub-hero {
	margin: 0 auto;
}

.sub-hero .sub-article-group {
	margin: 0 auto;
	width: 100%;
}

.sub-hero-title {
	font-size: 1.25rem;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 2rem;
	margin-left: 0px;
	max-width: 1270px;
}

.sub-hero-pill-links {
	color: black;
	padding-right: 2rem;
	font-weight: bold;
}
.sub-hero-pills {
	display: inline-block;
}

.nav-pills a:hover {
	text-decoration: none;
}

.sub-hero.article-tag-links {
	font-size: 15px;
}

.sub-hero .all {
	border-bottom: 3px solid#6981f5;
	margin-left: 0px;
	padding-left: 0px;
	padding-bottom: 2px;
}
.sub-hero .all a {
	color: black;
}
.sub-hero .all a:hover {
	color: black;
}
.sub-hero .article-group-div {
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
  padding-right: 0px;
	padding-bottom: 10px;
}

.sub-hero img {
	border-radius: 5px;
	width: 100%;
}

.sub-hero h3 {
	font-weight: bold;
	line-height: 1.5;
	font-size: 20px;
}

.sub-hero p {
	line-height: 1.5;
  width: 95%;
}

.sub-hero .article-tag-links {
	font-size: 14px;
}

.row-three {
	margin-bottom: 2rem;
}

.below-sub-hero-hr {
	text-align: center;
	margin-top: 5rem;
	margin-bottom: 6rem;
}


/**************************** 2nd sub hero / row four *************************/
.second-sub-hero {
	margin: 0 auto 1rem;
}

.second-sub-hero .article {
  margin: 0 auto;
  width: 100%;
}

.second-sub-hero .article-group-two {
  margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
  padding-right: 0px;
	padding-bottom: 10px;
}

.second-sub-hero img {
	border-radius: 5px;
	width: 100%;
}
.second-sub-hero h3 {
	font-weight: bold;
	line-height: 1.5;
	font-size: 1.5rem;
}
.second-sub-hero p {
	line-height: 1.5;
	width: 95%;
	font-size: 1.15rem;
}
.row-four .article-tag-links {
	font-size: 14px;
}

/********** button **********/
.more-button-div {
	margin: 5rem auto;
	text-align: center;
}
.more-button {
	margin-top: 4rem;
	margin-left: auto;
	margin-right :auto;
	margin-bottom: 5rem;
	padding: 2.5rem 5rem;
	color: white;
	background-color: #6981f5;
	border-radius: 5px;
	box-shadow: 0;
	font-size: 1.5rem;
	border: none;
}
.more-button:hover {
	background: #5e74dc;
	cursor: pointer;
}

/************************************* footer **********************************/
.footer-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1300px;
}

.footer-hr-1 {
	 margin-left: 0px;
	 margin-right: 0px;
}

.page-footer {
	margin: 0 auto;
	padding-top: 2rem;
	padding-bottom: 2rem;
	line-height: 1.5;
}

.page-footer h3 {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 1rem;
}

.page-footer ul, .page-footer p {
	font-size: 13px;
}

.page-footer li a, .page-footer p {
	color: grey;
}


/*********************************** sub footer *******************************/
.sub-footer {
	max-width: 1270px;
	margin-right: 0px;
	margin-bottom: 4rem;
	line-height: 1.5;
	padding-top: 2rem;
	color: grey;
}
.sub-footer a {
	color: grey;
}
.sub-footer a:hover {
	color: #6981f5;
}
.sub-footer .footer-logo {
	margin-left: 0px;
}
.sub-footer .copyright {
	font-size: 15px;
}
.sub-footer .navbar-nav {
	margin-left: 1rem;
	display: inline-block;
}
.sub-footer i {
	font-size: 1.5rem;
}
.sub-footer .privacy {
	padding-right: 1rem;
	font-size: 15px;
	font-weight: bold;
}
a.privacy:hover {
	color: grey;
}
.sub-footer .icons {
	font-size: 1.5rem;
}


/******************************* media queries **********************************/

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-left: 1rem;
	}
}


@media (max-width: 889px) {
	div.sub-hero-title {
		white-space: nowrap;
		overflow: auto;
	}
}


@media (max-width: 768px) {
	
	.first-hero-column {
		margin-bottom: 2.5rem;
	}
	.below-oranges {
		padding-bottom: 1.5rem;
		border-bottom: rgba(192, 188, 188, 0.5) solid 2px;
		border-width: thin;
	}
	.second-sub-hero {
		margin-top: 0.75rem;
	}
	.sub-article-group {
		padding-bottom: 1.5rem;
		border-bottom: rgba(192, 188, 188, 0.5) solid 2px;
		border-width: thin;
	}
	h3.footer-disclaimer-title {
		font-size: 1.5rem;
	}
	.footer-info, .airbnb-copyright {
		display: none;
	}
	h3.mobile-third-heading {
		font-size: 1.75rem;
		padding: 0.5rem 0;
	}
	.mobile-paragraph, p.mobile-paragraph, .article-date, .row-four .article-tag-links {
		font-size: 1.5rem;
	}
}
